# common dependencies
pyarrow
pandas

# section0 dependencies


# section1 dependencies
numpy
matplotlib
seaborn
wordcloud

# section2 dependencies
scikit-learn

# section3 dependencies


# section4 dependencies


